.icon-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  .icon-container svg {
    width: 40px; 
    height: 40px;
    border-radius: 4px;
    background: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
  }
  
  .image-container:hover .icon-container {
    opacity: 1; 
  }